.form-offer {
    .pop-up {
        display: flex;
        align-items: center;
        text-align: center;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        border: 1px solid #ccc;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        color: #4CAF50;
        font-weight: bold;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
    }

    h2 {
        font-size: 44px;
        margin-bottom: 2rem;
    }

    label {
        font-size: 20px;

        span {
            color: red;
        }
    }

    input {
        width: 100%;
        height: 50px;
        background-color: rgb(227, 225, 225);
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }

    input:focus {
        outline-style: solid;
        outline-width: 3px;
        outline-color: #127475;
    }

    textarea {
        width: 100%;
        background-color: rgb(227, 225, 225);
    }

    textarea:focus {
        outline-style: solid;
        outline-width: 3px;
        outline-color: #127475;
    }

    .offer-info {
        margin-top: 4rem;
    }

    .info-req {
        margin-top: 1rem;

        div {
            margin: 0;
            padding: 0;
        }
    }

    .create_offer {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 2.5rem;

        @keyframes gradientAnimation {

            0%,
            100% {
                background-position: 0% 50%;
            }

            50% {
                background-position: 100% 50%;
            }
        }

        button {
            background: linear-gradient(60deg, #127475, #66FFCC);
            background-size: 200% 200%;
            animation: gradientAnimation 6s infinite;
            color: #fff;
            padding: 1.5rem;
            border: none;
            cursor: pointer;
            box-shadow: 15px rgba(0, 0, 0, 0.2);
            border-radius: 0.4rem;
            font-size: 25px;
            font-weight: bold;
        }

        button:hover {
            transform: scale(1.02);
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2), 0 0 0 3px rgba(255, 255, 255, 0.4);
        }
    }
}